.header{
  &_content{
  }
  &_image {
    height: 400px !important;
    object-fit: cover;
  }
  &_text{
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    //font-weight: 700;
    text-align: center;
    letter-spacing: 1rem;
  }
}

  .ant-image {
    width: 100%;
  }

