@import "tailwindcss";
@theme {
  --color-white-bg: #fff;
}
@theme {
  --breakpoint-2md: 60rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  background: #fff;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #fff;
}

.ant-layout,
.ant-layout-footer {
  background: #fff !important;
}
