.collapse-info {
  .ant-collapse-header {
    padding: 12px 0 !important;
  }

  .ant-collapse-body {
    padding: 0 0 16px !important;
  }
}

.collapse-info {
  .ant-collapse-item {
    .ant-collapse-header {
      transition: color 0.2s ease;

      &:hover {
        color: gray; // replace with your desired color
      }
    }
  }
}
